

:root{
   --primary: #6a59ff;
   --white: #ffffff;
   --bg: #f5f5f5;
}

.div-container-body-iustration{
   background: linear-gradient(to bottom, #638669, #7d7757, #6b6e7e);
    width: 100vw !important;
    height: 100vh !important;
    position: relative;
    overflow-y: hidden;
} 
.fixedtopleft-ws{
   position: absolute;
   left: 70px;
   font-size: 35px;
   top: 31px ;
  
 }
 /*design*/
 .fixedtopright-ws {
   right: 70px;
   font-size:35px;
   top: 31px;
   position: absolute
 }
 /*info */
 .fixeddownleft-ws {
   position: absolute;
   bottom: 60px;
   left: 70px;
   font-size: 35px;
 }
 /*contact*/
 .fixeddownright-ws{
   position: absolute;
   bottom: 70px;
   right: 70px;
 }
 /*contact img*/
 .fixeddownright-ws .social-right-down-ws img {
   width: 45px;
   padding: 0px 10px 0px 0px ;
 }
 .image-illu{ 
      position: absolute;
      top: -2%;
      left: 4%;
 }
 .image-illu img{
   width: 29rem;
 }
 .swiper-animation{
   top: 9%;
   position: absolute;
   left: -8%;
}
.swiper-animation video {
   width: 159% !important;
   border-radius: 500px;
}
.slider-controler-animation{
   position: absolute;
   bottom: -3rem;
   left: 65px;
}
.img-bottm-animation{
   position: absolute;
   bottom: 200px;
   left: 207px;
   color: white;
   font-family: 'Raleway';
}
.image-Animation {
   position: absolute;
   top: 9vh;
   left: 12.5vw;
}
.Animation-header {
   width: 20vw;
}
.image-Animation {
   position: absolute;
   top: 7vh;
   left: 12.5vw;
}
.Animation-header {
   width: 21vw;
}
 .img-bottm {
   position: absolute;
   top: 72%;
   left: 5.5%;
   text-align: justify;
   width: 27%;
   color: #D5D5D4;
   line-height: 2rem;
   font-size: 26px;
   font-family: 'Raleway';
}
.img-user {
   position: absolute;
   top: 76%;
   left: 58%;
   color: #d5d5d5;
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
   z-index: 1;
   font-style: italic;
}
 .artmoc-global2{
   width: 14%;
    position: absolute;
    left: 45%;
 }
 .arrow-turn {
   position: absolute;
   bottom: 0rem;
   left: 5.5%;
   z-index: 1;
   cursor: pointer;
}
.arrow-turn-animation{
      position: absolute;
      bottom: 0rem;
      left: 5.5%;
      z-index: 1;
      cursor: pointer;
}
 .arrow-turn img{
   width: 3.5rem;
 }
 .arrow-turn-animation img{
   width: 3.5rem;
 }

.heading{
   padding: 1rem 0 !important;
   font-size: 3.5rem !important;
   text-align: center !important;
}
.swiper_container {
   height: 43rem !important;
   padding: 2rem 0 !important;
   position: relative !important;
}
.swiper-slide {
   width: 36% !important;
   height: 42rem !important;
   position: relative !important;
}
@media (max-width: 500px) {
   .swiper_container{
      height: 47rem !important;
   }
   .swiper-slide{
      width: 28rem !important;
      height: 36rem !important;
   }
   .swiper-slide img {
      width: 28rem !important;
      height: 36rem !important;
   }
}

.swiper-slide img {
   width: 36rem ; 
   height: 30rem ;
   border-radius: 2rem ;

}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
   display: none !important;
}

.slider-controler {
   position: relative !important;
   bottom: -10rem !important;
   display: flex !important;
   align-items: center !important;
   justify-content: center !important;
}

.slider-controler .swiper-button-next{
   left: 58% !important;
   transform: translateX(-58%) !important;
}

@media (max-width: 990px) {
   .slider-controler .swiper-button-next {
      left: 70% !important;
      transform: translateX(-70%) !important;
   }
}



@media (max-width: 450px) {
   .slider-controler .swiper-button-prev {
      left: 80% !important;
      transform: translateX(-80%) !important;
   }
}



@media (max-width: 990px) {
   .slider-controler .swiper-button-prev {
      left: 30% !important;
      transform: translateX(-30%) !important;
   }
}



@media (max-width:450px) {
   .slider-controler .swiper-button-prev {
      left: 20% !important;
      transform:  translateX(-20%) !important;
}
}

@media (min-height:500px) and (max-height:930px){
   .swiper-wrapper{
      max-width: 80% !important;
   }
}

.slider-controler .slider-arrow {
   background-color: var(--white);
   width: 3.5rem;
   height: 3.5rem;
   border-radius: 50%;
   left: 42%;
   transform: translateX(-42%);
   filter: drop-shadow(0px 8px 24px rgba(18, 28 , 53, 0.1));
}



.slider-controler .slider-arrow ion-icon{
   font-size: 2rem;
   color: #222224;
}


.slider-controler .slider-arrow::after{
   content: '';
}


.swiper-pagination{
   position: relative;
   width: 18rem !important;
   bottom: 1rem;
}



.swiper-pagination .swiper-pagination-bullet{
   filter:drop-shadow(0px 8px 24px rgba(18,28,53, 0.1));
   width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 15px)) !important;
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 15px)) !important;
}

.swiper-pagination .swiper-pagination-bullet-active{
   background-color: var(--primary);
}

.swiper.swiper_container.swiper-coverflow.swiper-3d.swiper-initialized.swiper-horizontal.swiper-watch-progress{
   width: 84% !important;
   top: 10%;
   left: 1%;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
   bottom: var(--swiper-pagination-bottom, 8px);
   top: -10rem !important;
   left: 694px  !important;
   width: 100%;
}
.swiper-pagination .swiper-pagination-bullet-active {
   background-color: white !important;
}
.swiper-pagination-bullet {
   display: inline-block;
   border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
   background: transparent !important;
   border: 1px solid white !important;
   opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.9) !important;
}
@media (min-width:1400px) and (max-width:1690px){
   .swiper-wrapper{
      width: 72%;
   }
   .swiper.swiper_container.swiper-coverflow.swiper-3d.swiper-initialized.swiper-horizontal.swiper-watch-progress {
      width: 84% !important;
      top: 10%;
      left: -3%;
  }
  .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
   bottom: var(--swiper-pagination-bottom, 8px);
   top: -12rem !important;
   left: 643px !important;
   width: 100%;
   
}


.swiper-slide img {
   width: 30rem !important;
   height: 27rem !important;
   border-radius: 2rem !important;
}
.slider-controler {
   bottom: -6rem !important;
   left: -2.5rem;
}
.img-user {
   position: absolute;
   top: 69%;
   left: 60%;
   color: #d5d5d5;
   font-family: 'Raleway', sans-serif;
   z-index: 1;
   font-weight: 700;
   font-style: italic;
}
.img-bottm {
   position: absolute;
   top: 68%;
   left: 14.5%;
   text-align: justify;
   width: 23%;
   color: #D5D5D4;
   z-index: 1;
   line-height: 2rem;
   font-size: 18px;
   font-family: 'Raleway';
}


.image-illu {
   position: absolute;
   top: -1%;
   left: 13%;
}
.image-illu img {
   width: 20rem;
}
.arrow-turn img {
   width: 3rem !important;
}
.arrow-turn {
   position: absolute;
   bottom: 5rem;
   left: 14.5%;
   z-index: 1;
   cursor: pointer;
}
.arrow-turn-animation{
   position: absolute;
   bottom: 5rem;
   left: 14.5%;
   z-index: 1;
   cursor: pointer;
}
.arrow-turn-animation img {
   width: 3rem !important;
}
}
@media (min-width:1700px) {
   .swiper.swiper_container.swiper-coverflow.swiper-3d.swiper-initialized.swiper-horizontal.swiper-watch-progress {
      top: 13%;
  }
  .swiper-animation .swiper.swiper_container.swiper-coverflow.swiper-3d.swiper-initialized.swiper-horizontal.swiper-watch-progress {
   width: 84% !important;
   top: 10%;
   left: 3%;
}
.swiper-motion .swiper-wrapper {
   width: 78%;
}
  
  .swiper-animation {
   top: 17%;
   position: absolute;
   left: -17%;
}
.slider-controler-animation {
   position: absolute;
   bottom: -6rem;
   left: 16.5%;
}
.img-bottm-animation {
   position: absolute;
   top: 76%;
   left: 184px;
   width: 27%;
   font-size: 20px;
   color: white;
   font-family: 'Raleway';
}
.image-Animation {
   position: absolute;
   top: -2vh;
   left: 9vw;
}
.Animation-header {
   width: 26vw;
}
.arrow-turn-animation {
   position: absolute;
   bottom: 2rem;
   left: 10%;
   z-index: 1;
   cursor: pointer;
}
.arrow-turn-animation img {
   width: 2.5rem;
}


}

@media (min-width : 320px)  and (max-width:1000px)  {
  .swiper-animation{
   width: 60vw;
   height: 41vh;
   position: absolute;
   left: 0vw;
  }
  .swiper-animation video {
   width: 100% !important;
}

  
   .fixedtopleft-ws {
       position: absolute;
       left: 39px;
       font-size: 35px;
       top: 31px;
   }
   .fixedtopright-ws{
       font-size: 35px;
       right: 30px;
       top: 31px;
       position: absolute;
   }
   .fixeddownleft-ws {
       position: absolute;
       bottom: 60px;
       left: 39px;
       font-size: 35px;
   }
   .fixeddownright-ws {
       position: absolute;
       bottom: 60px;
       right: 16px;
   }
   .leftscroll-ws {
       position: absolute;
       height: 65%;
       left: 41px;
       top: 190px;
   }
   .artmoc-global2 {
      width: 25%;
      position: absolute;
      left: 40%;
      top: 7%;
  }

   
   a {
       text-decoration: none;
       font-family: Rubik;
       color: #e2e1de;
       line-height: 12px;
       font-size: 15px;
   }
   .fixeddownright-ws .social-right-down-ws img {
       width: 29px;
       padding: 0px 10px 0px 0px;
   }
   .swiper.swiper_container.swiper-coverflow.swiper-3d.swiper-initialized.swiper-horizontal.swiper-watch-progress {
      width: 154% !important;
      top: 19%;
      left: 6%;
  }
  .swiper-slide img {
   width: 15rem !important;
   height: 15rem !important;
   border-radius: 2rem !important;
   object-fit: cover !important;
}

.slider-controler {
   right: 43rem;
   position: relative !important;
   bottom: 15.5rem !important;
   display: flex !important;
}
.slider-controler-animation {
   left: -43.1rem;
   position: relative !important;
   bottom: 13vh !important;
   display: flex !important;
   align-items: center !important;
   justify-content: center !important;
}
.img-bottm-animation{
   position: absolute;
   top: 59vh;
   left: 1vw;
   text-align: justify;
   width: 84vw;
   color: #D5D5D4;
   line-height: 1rem;
   font-size: 13px;
   font-family: 'Raleway';
}
.image-Animation {
   position: absolute;
   top: 9vh;
   left: 12vw;
}
.Animation-header {
   width: 71vw;
}
.img-user {
   position: absolute;
   top: 38%;
   left: 18%;
   color: #d5d5d5;
   font-size: 13px;
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
   font-style: italic;
}
.img-bottm {
   position: absolute;
   top: 50%;
   left: 6.5%;
   text-align: justify;
   width: 47%;
   color: #D5D5D4;
   line-height: 1rem;
   font-size: 13px;
   font-family: 'Raleway';
}
.image-illu {
   position: absolute;
   top: -1%;
   left: 14%;
}
.image-illu img {
   width: 10rem;
}

.arrow-turn {
   position: absolute;
   bottom: 24.6rem;
   left: 6.5%;
   z-index: 10;
   cursor: pointer;
}
.arrow-turn img {
   width: 1.5rem;
}
.arrow-turn-animation {
   position: absolute;
   bottom: 24.6rem;
   left: 6.5%;
   z-index: 10;
   cursor: pointer;
}
.arrow-turn-animation img {
   width: 1.5rem;
}

}

@media (min-width:355px)  and (max-width:1000px){
   .swiper-animation {
      left: 2vw;
  }
  .slider-controler-animation {
   right: 182vw;
   bottom: 7vh !important;
}
.img-bottm-animation {
   width: 89vw;
}

   .swiper.swiper_container.swiper-coverflow.swiper-3d.swiper-initialized.swiper-horizontal.swiper-watch-progress {
      left: 3%;
  }
  .image-illu {
   left: 18%;
}
.img-user {
   left: 21%;
}
.slider-controler {
   right: 41rem;
}
.arrow-turn {
   left: 11.5%;
}
.arrow-turn-animation{
   left: 11.5%;
}
.img-bottm {
   left: 10.5%;
   width: 40%;
}
}
@media (min-width:375px) and (max-width:380px) {
   .slider-controler-animation {
      left: -41.4rem;
      bottom: 20vh !important;
  }
}

@media (min-width:385px)  and (max-width:1000px) {
   .swiper.swiper_container.swiper-coverflow.swiper-3d.swiper-initialized.swiper-horizontal.swiper-watch-progress {
      top: 23%;
      left: 1.1%;
  }
  .slider-controler-animation {
   right: 172vw;
   bottom: 12vh !important;
}
.swiper-animation {
   height: 68vh;
   left: 2.5%;
   width: 61vw;
}
  .slider-controler-animation {
   left: -40rem;
   bottom: 17vh !important;
}
  .img-bottm-animation {
   width: 88vw;
   font-size: 17px;
   left: 2vw;
   top: 29rem;
}
.image-Animation {
   top: 6vh;
   left: 15vw;
}
  .slider-controler {
   right: 39rem;
}
.artmoc-global2 {
   width: 31%;
   left: 37%;
   top: 7%;
}
.img-user {
   left: 23%;
}
.image-illu {
   left: 21%;
}
.img-bottm {
   left: 13.5%;
   width: 37%;
   font-size: 15px;
   line-height: 22px;
}
.img-user {
   left: 23%;
}
.arrow-turn {
   left: 14.5%;
}
.arrow-turn img {
   width: 1.8rem;
}
.arrow-turn-animation{
   left: 12%;
}
.arrow-turn img{
   width: 1.8rem;
}
}

@media (min-width:410px)  and (max-width:1000px) {
   .swiper.swiper_container.swiper-coverflow.swiper-3d.swiper-initialized.swiper-horizontal.swiper-watch-progress {
      left: -5.9%;
  }
  .swiper-animation {
   height: 68vh;
   left: 6.5%;
   width: 61vw;
}
  .swiper-slide img {
   width: 18rem !important;
}
.image-illu {
   top: -1%;
   left: 24%;
}
.image-illu img {
   width: 11rem;
}
.img-user {
   left: 28%;
   top: 39%;
}
.slider-controler {
   right: 36.5rem;
   top: -33%;
}
.img-bottm {
   left: 16.5%;
   width: 42%;
   top: 54%;
   font-size: 12px;
   line-height: 14px;
}
.arrow-turn {
   left: 16.5%;
   top: 47%;
}
}
@media (min-width:500px) and (max-width:1000px) {
   .swiper.swiper_container.swiper-coverflow.swiper-3d.swiper-initialized.swiper-horizontal.swiper-watch-progress {
      left: -15.7%;
      width: 115% !important;
  }
  .swiper-animation .swiper.swiper_container.swiper-coverflow.swiper-3d.swiper-initialized.swiper-horizontal.swiper-watch-progress {
   left: -20.7%;
   width: 233% !important;
}
.swiper-animation video {
   width: 227% !important;
   height: 100%;
}
.img-bottm-animation {
   width: 88vw;
   font-size: 17px;
   left: 56vw;
   top: 29rem;
}
.image-Animation {
   top: 6vh;
   left: 58vw;
}
.arrow-turn-animation {
   left: 41%;
   top: 55%;
}
.arrow-turn-animation img {
   width: 2rem;
}
.slider-controler-animation {
   left: -21rem;
   bottom: 0vh !important;
}

  .swiper-animation {
   height: 9vh;
   left: -28.5%;
   width: 61vw;
}

  .image-illu {
   top: -1%;
   left: 45%;
}
.image-illu img {
   width: 12rem;
}
.img-user {
   left: 69%;
   top: 53%;
}
.swiper-slide {
   width: 33% !important;
   height: 42rem !important;
   position: relative !important;
}
.swiper-slide img {
   width: 24rem !important;
   height: 20rem !important;
}
.slider-controler {
   right: 29.5rem;
   top: -9%;
}
.img-bottm {
   left: 19.5%;
   width: 35%;
   top: 53%;
}
.arrow-turn {
   left: 19.5%;
   top: 63%;
}


}

@media (min-width:700px) and (max-width:1000px) {
   .fixeddownright-ws .social-right-down-ws img {
      width: 45px;
      padding: 0px 10px 0px 0px;
  }
  .swiper.swiper_container.swiper-coverflow.swiper-3d.swiper-initialized.swiper-horizontal.swiper-watch-progress {
   left: -19.3%;
   width: 121% !important;
   top: 30%;
}
.swiper-animation .swiper.swiper_container.swiper-coverflow.swiper-3d.swiper-initialized.swiper-horizontal.swiper-watch-progress {
   left: -39.7%;
   width: 233% !important;
}
.swiper-animation video {
    width: 193% !important;
    height: 100%;
}
.swiper-animation .swiper-wrapper {
   width: 82%;
}
.swiper-animation {
   height: 9vh;
   left: -14.5%;
   width: 61vw;
   top: 19%;
}

  .swiper-slide {
   width: 34% !important;
   height: 42rem !important;
   position: relative !important;
}
.swiper-slide img {
   width: 31rem !important;
   padding: 10px 0px 0px 0px;
   height: 21rem !important;
   position: absolute;
   top: 3%;
}
.image-illu {
   top: -12px;
   left: 38.5%;
   z-index: 1;
}
.image-illu img {
   width: 24rem;
}
.image-Animation {
   top: -2vh;
   left: 56vw;
}
.img-bottm-animation {
   width: 88vw;
   font-size: 28px;
   left: 49vw;
   top: 33rem;
}

.arrow-turn-animation {
   left: 32%;
   top: 55%;
}
.arrow-turn-animation img {
   width: 3.2rem;
}
.slider-controler-animation {
   left: -9.3rem;
   bottom: -12vh !important;
}
.slider-controler {
   right: 17.5rem;
   top: 15%;
}
.swiper-pagination .swiper-pagination-bullet {
   filter: drop-shadow(0px 8px 24px rgba(18,28,53, 0.1));
   width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 25px)) !important;
   height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 25px)) !important;
}
.img-user {
   left: 61%;
   top: 58%;
   font-size: 18px;
}
.arrow-turn {
   left: 22.5%;
   top: 85%;
}
.arrow-turn img {
   width: 3.3rem;
}
.img-bottm {
   left: 22.5%;
   width: 90%;
   top: 69%;
   font-size: 22px;
   line-height: 27px;
}
}
@media (min-width:800px) and (max-width:1000px) {
   .slider-controler-animation {
      left: -6.3rem;
      bottom: -12vh !important;
  }
}
@media (min-width:900px) and (max-width:1000px) {
   .slider-controler {
      right: 13.5rem;
      top: 15%;
  }
  .img-bottm-animation {
   width: 88vw;
   font-size: 28px;
   left: 56vw;
   top: 33rem;
}
.slider-controler-animation {
   left: -1.3rem;
   bottom: -12vh !important;
}
}
@media (min-width:1000px) and (max-width:1400px) {

   .div-container-body-iustration {
      overflow-y: hidden;
  }
  .swiper.swiper_container.swiper-coverflow.swiper-3d.swiper-initialized.swiper-horizontal.swiper-watch-progress {
   width: 113% !important;
   left: -11%;
}
.image-Animation {
   position: absolute;
   top: 8vh;
   left: 53.5vw;
}
.swiper-animation video {
width: 159% !important;
border-radius: 500px;
}
.slider-controler-animation {
position: absolute;
bottom: 1rem;
left: 47%;
}
.img-bottm-animation {
position: absolute;
bottom: 200px;
left: 42%;
font-size: 18px;
width: 49%;
color: white;
font-family: 'Raleway';
}
.image-Animation {
position: absolute;
top: 8vh;
left: 53.5vw;
}
.Animation-header {
width: 35vw;
}
.arrow-turn-animation {
bottom: 16rem;
left: 18.5%;
}
.arrow-turn-animation img {
width: 3rem;
}

.swiper-animation {
top: 0%;
position: absolute;
left: -8%;
}

   .image-illu {
      position: absolute;
      top: 7%;
      left: 14%;
  }
  .image-illu img {
   width: 12rem;
}
.img-user {
   top: 57%;
   left: 57%;
}
.img-bottm {
   top: 56%;
   left: 14.5%;
   width: 27%;
   z-index: 1;
   line-height: 1rem;
   font-size: 14px;
}
.swiper-slide img {
   width: 24rem;
   height: 22rem;
   border-radius: 2rem;
   object-fit: cover;
}
.arrow-turn {
    position: absolute;
    bottom: 12rem;
    left: 36.5%;
    z-index: 1;
    cursor: pointer;
}
.arrow-turn img {
   width: 2.2rem;
}
.slider-controler {
   bottom: 2rem !important;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
      bottom: var(--swiper-pagination-bottom, 8px);
      top: -10rem !important;
      left: 44%!important;
      width: 100%;
  }

}
@media (min-width:1200px) and (max-width:1400px) {
.image-illu {
    position: absolute;
    top: 6%;
    left: 14.3%;
    z-index: 1;
}

.image-illu img {
   width: 15.5rem;
}
.swiper-slide img {
   width: 30rem;
   height: 26rem;
   border-radius: 2rem;
   object-fit: cover;
}
.img-bottm {
   top: 66%;
   left: 14.5%;
   width: 24%;
   z-index: 1;
   line-height: 1rem;
   font-size: 14px;
}
.img-user {
   top: 67%;
   left: 65%;
}
.slider-controler {
   bottom: -5rem !important;
}
.arrow-turn {
   position: absolute;
   bottom: 5rem;
   left: 14.5%;
   z-index: 1;
   cursor: pointer;
}
.arrow-turn img {
   width: 2.2rem;
}
.slider-controler-animation {
   position: absolute;
   bottom: -4rem;
   left: 49%;
}
.img-bottm-animation {
   top: 74%;
   left: 42%;
   font-size: 25px;
   width: 49%;
}
.swiper-animation {
   top: 9%;
   position: absolute;
   left: -8%;
}
.image-Animation {
   position: absolute;
   top: 6vh;
   left: 22.5vw;
}
.Animation-header {
   width: 29vw;
}
}

