@import url('https://fonts.googleapis.com/css?family=Raleway:600');

.container-Aline{
    padding: 49px 0px;
    display: flex;
    justify-content: end;
    background: linear-gradient(to bottom, #3f5150, #638669, #638669);
}

.right-line{
    background: gray;
    padding: 40px 40px 59px 0px;
    border-radius: 74px 0px 0px 74px;
    display: none;
    justify-content: end;
}
.indented-paragraph{
    display: flex;
    color: white;
    width: 968px;
    margin: -44px -31px -39px 40px;
    font-size: 18px;
    line-height: 30px;
    text-align: right;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
}
.right-line-none {
    display: flex;
    justify-content: end;
    background: gray;
    padding: 77px 71px;
    border-radius: 74px 0px 0px 74px;
}
@media (min-width:1400px) and (max-width:1699px){
    .container-Aline {
        padding: 35px 0px;
        display: flex;
        justify-content: end;
        background: linear-gradient(to bottom, #3f5150, #638669, #638669);
    }
    .indented-paragraph {
        display: flex;
        color: white;
        width: 939px;
        margin: -32px 41px -36px 40px;
        font-size: 17px;
        line-height: 27px;
        text-align: right;
    }
    .right-line-none {
        display: flex;
        justify-content: end;
        background: gray;
        padding: 60px 0px;
        border-radius: 74px 0px 0px 74px;
    }

}
@media (min-width:320px) and (max-width:568px) {
    .container-Aline {
        padding: 0px 0px; 
        display: flex;
        justify-content: end;
        background: linear-gradient(to bottom, #3f5150, #638669, #638669);
    }
    .right-line-none {
        display: flex;
        justify-content: end;
        background: gray;
        padding: 49px 0px;
        border-radius: 0px 0px 0px 0px; 
    }
    .indented-paragraph {
        display: flex;
        color: white;
        width: 88%;
        margin: -40px 25px -31px 1px;
        font-size: 10px;
        line-height: 20px;
        text-align: start;
        font-family: 'Raleway', sans-serif;
        font-weight: 100;
        text-transform: uppercase;
    }

}