
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Raleway:wght@600&family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

.div-container-body-aboutartmoc{
    background: linear-gradient(to bottom, #3f5150, #638669, #638669);
    max-width: 1920px ;
    max-height: 1080px;
    position: relative;
    width: 100%;
    height: 100vh;
}

.fixedtopleft-about{
    position: absolute;
    left: 70px;
    font-size: 35px;
    top: 31px ;
   
}
.fixedtopright-about{
    right: 70px;
  font-size:35px;
  top: 31px;
  position: absolute;
 
}
.fixeddownleft-about{
    position: absolute;
    bottom: 60px;
    left: 70px;
    font-size: 35px;
  }

.fixeddownright-about{
    position: absolute;
    bottom: 70px;
    right: 70px;
}
.fixeddownright-about .social-right-down-about img{
    width: 45px;
  padding: 0px 10px 0px 0px ;
}
.leftscroll-about{
    position: absolute;
    height: 100%;
    left: 70px;
    top: 135px;
}

.leftscroll-about img{
    position: absolute;
    height: 20%;
    transform: translate(0, 100%);
}
.about-artmoc-container {
    position: absolute;
    left: 200px;
    top: 175px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.about-tittle-text img{
    width: 76%;
}
.about-header{
 line-height: 14;
}

.about-write {
    position: absolute;
    top: 100px;
    left: 10px;
    width: 37%;
    font-family: 'Raleway', sans-serif;
    font-weight: 550;
    font-size: 0px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: white;
    line-height: 30px;
}
.about-write p{
    font-size: 22px;
    padding: 70px 0px 0px 0px;
    line-height: 28px;
    font-family: 'Raleway', sans-serif; /* Raleway yazı karakterini kullan */
    text-transform: uppercase; /* Büyük harf + Small Caps */
    
    width: 100%;
    height: 100%;
    text-align: justify;
}
.about-write img{
    position: absolute;
    width: 7%;
    right: 4%;
    bottom: -26%;
    cursor: pointer;
}

.artmoc-monster{
    position: absolute;
    left: 61%;
    top: 0px;
    width: 500px;
}
.img-aboutmonster{
    width: 100%;
}

@media (min-width:1400px) and (max-width:1699px) {
    .about-artmoc-container {
        position: absolute;
        left: 10%;
        top: 21%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .about-header {
        line-height: 0;
    }
    .about-tittle-text img {
        width: 66%;
    }
    .about-write {
        position: absolute;
        top: 27%;
        left: 10px;
        width: 44%;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.08em;
        color: white;
        line-height: 30px;
    }
    .about-write p {
        padding: 92px 0px 0px 0px;
        line-height: 24px;
        width: 71%;
        height: 100%;
        text-align: justify;
        font-size: 15px;
    }
    .about-write img {
        position: absolute;
        width: 7%;
        right: 28%;
        bottom: -20%;
        cursor: pointer;
    }
    .artmoc-monster {
        position: absolute;
        left: 56%;
        top: 0px;
        width: 38%;
    }
    .img-aboutmonster {
        width: 70%;
    }



  }
  
  @media (min-width:1700px) {
    .about-write p {
     line-height: 34px;
    }
  }
  
  @media (min-width : 320px) and (max-width : 568px) {
    .fixedtopleft-about {
        position: absolute;
        left: 39px;
        font-size: 35px;
        top: 31px;
    }
    .fixedtopright-about {
        right: 30px;
        font-size: 35px;
        top: 31px;
        position: absolute;
    }
    .fixeddownleft-about {
        position: absolute;
        bottom: 60px;
        left: 39px;
        font-size: 35px;
    }
    .fixeddownright-about {
        position: absolute;
        bottom: 60px;
        right: 16px;
    }
    .leftscroll-about {
        position: absolute;
        height: 65%;
        left: 41px;
        top: 190px;
    }
    .artmoc-global {
        width: 27%;
        position: absolute;
        left: 36%;
        top: 7%;
    }
    a {
        text-decoration: none;
        font-family: Rubik;
        color: #e2e1de;
        line-height: 12px;
        font-size: 15px;
    }
    .fixeddownright-about .social-right-down-about img {
        width: 29px;
        padding: 0px 10px 0px 0px;
    }
    .about-artmoc-container {
        position: absolute;
        left: 18%;
        top: 8%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .about-tittle-text img {
        width: 181%;
    }
    .about-write {
        position: absolute;
        top: 30%;
        left: 3px;
        width: 82%;
        font-family: 'Raleway', sans-serif;
        font-weight: 546;
        font-size: 0px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: white;
    }
    .about-write p {
        font-size: 8px;
        padding: 70px 0px 0px 0px;
        line-height: 13px;
        text-transform: uppercase;
        text-align: justify;
    }
    .about-write img {
        position: absolute;
        width: 7%;
        right: 4%;
        bottom: -26%;
        cursor: pointer;
    }
    .artmoc-monster {
        position: absolute;
        left: 23%;
        top: 149%;
        width: 500px;
    }
    .img-aboutmonster {
        width: 27%;
    }



}
