* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.div-container-body-art {
  background: linear-gradient(to bottom, #638669, #7d7757, #6b6e7e);
  max-width: 1920px ;
    max-height: 1080px;
    position: relative;
    width: 100%;
    height: 100vh;
}
.leftscroll-art{
  position: absolute;
  height: 100%;
  left: 70px;
  top: 135px;
}
.leftscroll-art img{
  position: absolute;
  height: 20%;
  transform: translate(0, 100%);
}

.fixedtopleft-art {
  position: absolute;
    left: 70px;
    font-size: 35px;
    top: 31px ;
}
/*design*/
.fixedtopright-art {
  right: 70px;
  font-size:35px;
  top: 31px;
  position: absolute
}
/*info */
.fixeddownleft-art {
  position: absolute;
  bottom: 60px;
  left: 70px;
  font-size: 35px;
}
/*contact*/
.fixeddownright-art {
  position: absolute;
    bottom: 70px;
    right: 70px;

}
/*contact img*/
.fixeddownright-art .social-right-down-art img {
  width: 45px;
  padding: 0px 10px 0px 0px ;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: absolute;
  gap: 100px;
  left: 171px;
  top: 200px;
}

.grid-item {
  background-color: gray;
  width: 200px;
  height: 287px;
  border-radius: 24px;
  cursor: pointer;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;

}


.content-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.content-wrapper p {
  position: absolute;
  writing-mode: vertical-rl; /* Dikey yazı yönlendirmesi */
  left: -20px;
  height: 100%;
  border-radius: 24px; 
  font-size: calc(91% + 41px);
  color: white;
  transform: rotate(-180deg);
}


.grid-item img{
  border-radius: 24px;
  width: 200px;
  height: 287px;
}

.grid-item:hover {
  overflow: visible; /* İmleç resmin üstüne gelindiğinde overflow'u visible yap */
}
.grid-item:hover .content-wrapper p {
  /* Diğer stil ayarları */
  top: 0;
  transform: none;
  writing-mode: unset;
  top: 100%;
  left: -2px;
  font-size: 45px;
  transition: top 0.0001s ease-in-out, font-size 0.1s ease-in-out;
}
.grid-item:nth-child(1):hover .content-wrapper p,
.grid-item:nth-child(2):hover .content-wrapper p 
{
  position: absolute;
  top: 100%;
  left: -10px;
}

@media screen and (min-width: 1790px) {

  .leftscroll-art{
    top: 185px;
  }

  .grid-container {
    gap: 54px;
    left: 178px;
    top: 267px;
  }
  .grid-item {
    width: 353px;
    height: 504px;
  }
  
  .grid-item img{
    width: 352px;
    height: 504px;
  }


  .content-wrapper p {
    left: -16px;
    height: 100%;
    text-align: justify;
    font-size: calc(17% + 97px);
  }
  
  .grid-item:hover .content-wrapper p {
    left: 8px;
    font-size: 68px;
}
}



@media screen and (min-width: 800px ) and (max-width: 1789px) and (min-height: 1170px) {

  .leftscroll-art{
    top: 185px;
  }

  .grid-container {
    width: 82%;
    height: 40%;
    gap: 2%;
    top: 27%;
}
  
  .grid-item {
    width: 100%;
    height: 100%;
  }
  
  .grid-item img{
    width: 100%;
    height: 100%;
  }
  .content-wrapper {
    height: 100%;
    width: 100%;
   
}
  .content-wrapper p {
    font-size: calc(102% + 72px);
    text-align: justify;
}
.grid-item:hover .content-wrapper p {
  font-size: 427%;
}
}