
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

.div-container-body-artmoc{
    background: linear-gradient(to top, #776b6a,#776b6a,#776b6a);
    position: relative;
    width: 100vw;
    height: 100vh;
    

}

.fixedtopleft-artmoc{
   position: fixed;
    left: 70px;
    font-size: 35px;
    top: 31px ;
    z-index: 10;
}
.fixedtopright-artmoc{
    
    right: 70px;
    font-size:35px;
    top: 31px;
    position: fixed;
    z-index: 10;
}
.fixeddownleft-artmoc{
    position: fixed;
    bottom: 90px;
    left: 70px;
    font-size: 35px;
    z-index: 10;
}

.fixeddownright-artmoc{
    position: fixed;
    bottom: 100px;
    right: 70px;
    z-index: 10;
}
.fixeddownright-artmoc .social-right-down-artmoc img{
    width: 45px;
    padding: 0px 10px 0px 0px ;
}
.leftscroll-moc{
    position: fixed;
     height: 100%;
     left: 70px;
     top: 100px;
}
.leftscroll-moc img {
    position: fixed;
    height: 20%;
    transform: translate(0, 100%);
}

a {
  text-decoration: none;
  font-family: Rubik;
  color: #e2e1de;
  line-height: 42px;
  font-size: 29px;
}
a:hover {
    color: rgb(173, 159, 132);
}

.artmoc-global{
    width: 10%;
    position: absolute;
    left: 47%;
    top: 7%;

}
@media (min-width : 320px) and (max-width : 568px) {
    .fixedtopleft-artmoc {
        position: fixed;
        left: 39px;
        font-size: 35px;
        top: 31px;
    }
    .fixedtopright-artmoc {
        right: 30px;
        font-size: 35px;
        top: 31px;
        position: fixed;
    }
    .fixeddownleft-artmoc {
        position: fixed;
        bottom: 60px;
        left: 39px;
        font-size: 35px;
    }
    .fixeddownright-artmoc {
        position: fixed;
        bottom: 60px;
        right: 16px;
    }
    .leftscroll-moc {
        position: fixed;
        height: 65%;
        left: 41px;
        top: 190px;
    }
    .artmoc-global {
        width: 27%;
        position: absolute;
        left: 36%;
        top: 7%;
    }
    
    .fixeddownright-artmoc .social-right-down-artmoc img {
        width: 29px;
        padding: 0px 10px 0px 0px;
    }

}

@media (min-width:700px) and (max-width:1200px) {
    .fixeddownright-artmoc {
        bottom: 100px;
        right: 44px;
    }
    a {
        font-size: 27px !important;
    }
    .fixedtopleft-artmoc {
        position: fixed;
        left: 39px;
        font-size: 35px;
        top: 31px;
    }
    .fixedtopright-artmoc {
        right: 30px;
        font-size: 35px;
        top: 31px;
        position: fixed;
    }
    .fixeddownleft-artmoc {
        position: fixed;
        bottom: 60px;
        left: 39px;
        font-size: 35px;
    }
    .fixeddownright-artmoc {
        position: fixed;
        bottom: 60px;
        right: 16px;
    }
    .leftscroll-moc {
        position: absolute;
        height: 85%;
        left: 51px;
        top: 210px;
    }
}

@media (min-width:1000px) and (max-width:1400px) {
    .artmoc-global {
        left: 40%;
        top: 2%;
        width: 19%;
    }
    
}
