.div-container-body {
  background: linear-gradient(to bottom, #5c7a89, #40575d, #61818e);
  max-width: 1920px ;
  max-height: 1080px;
  position: relative;
  width: 100%;
  height: 100vh;
}
/* Art*/
.fixedtopleft-cu {
  position: absolute;
  left: 70px;
  font-size: 35px;
  top: 31px ;
}
/*design*/
.fixedtopright-cu {
  right: 70px;
  font-size:35px;
  top: 31px;
  position: absolute
}
/*info */
.fixeddownleft-cu {
  position: absolute;
  bottom: 90px;
  left: 70px;
  font-size: 35px;
}
/*contact*/
.fixeddownright-cu {
  position: absolute;
  bottom: 100px;
  right: 70px;
}
/*contact img*/
.fixeddownright-cu .social-right-down-cu img {
  width: 72px;
  padding: 0px 0px 0px 21px;
}
.fixeddownright-cu:hover img {
  width: 66px;
  /* color: white; */
  /* background: white; */
  transform: rotate(223deg);
  padding: 0px 12px 0px 0px;
}

.leftscroll-cu{
  position: absolute;
  height: 100%;
  left: 70px;
  top: 100px;
}
.leftscroll-cu img {
  position: absolute;
   height: 20%;
   transform: translate(0, 100%);
}

.container2-position {
  position: absolute;
  left: 3em;
  width: 100%;
  height: auto;
  top: 9em;
}

.container2 {
  display: flex;
  justify-content: space-around;
  text-align: center;
  line-height: 4px;
}

.section {
  background-color: #f5f5f5;
  padding: 14px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s;
}
.deneme2-us{
  display: flex;
    
    flex-direction: column;
    align-items: start;
}
.deneme3-us{
  display: flex;
    flex-direction: column;
    align-items: start;
}

.section.left-section {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 6px;
}

.section.right-section {
  width: 400px;
  line-height: 6px;
}

.section:hover {
  background-color: rgba(200, 200, 200, 0.3);
  color: white;
}

.left-section {
  background-color: rgba(200, 200, 200, 0.3);
  color: white;
  border-radius: 24px;
}

.right-section {
  background-color: rgba(200, 200, 200, 0.3);
  color: white;
  border-radius: 24px;
}

.content2 {
  display: none;
  margin-top: 10px;
}
.content2.active{
  display: block;
}
.section.left-section.active .content2 {
  display: block !important;
}


/* .section.left-section.active,
.section.right-section.active {
  height: 5px;
} */

button.submit-button {
  background-color: rgba(200, 200, 200, 0.3);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
  width: 134px;

}

button.submit-button:hover {
  background-color: #0056b3;
}

.content2 .input-group input{
  width: 400px;
  padding: 4px;
  border-radius: 24px;
  background-color: rgba(200, 200, 200, 0.3);
}
.content2 .input-group textarea{
  width: 400px;
  height: 180px;
}
.content2 .input-group{
  line-height: 0px;
    padding: 10px 0px 14px 0px;
    border: none;
}

.content2 .input-group input[type="text" ] {
   color: white; 
  text-align: center;
border:none;
cursor: pointer;
line-height: 4px;
}
.content2 .input-group input[type="text" ]:active {
  border: none;
}
.content2 .input-group textarea{
  background-color: rgba(200, 200, 200, 0.3);
  border-radius: 24px;
  height: 126px;
  padding: 10px;
  color: white;
}

  .content2 .input-group input::placeholder {
    color: white; 
  }
  .content2 .input-group textarea::placeholder {
    color: white; 
    text-align: center;
    line-height: 90px;
  }

  @media  (min-width:1400px) and (max-width:1699px) {
    .fixeddownright-cu .social-right-down-cu img {
      width: 46px !important;
      padding: 0px 0px 0px 10px !important;
  }
  }

 @media (min-width: 1700px )  {
  .container2-position {
    left: 0;
    top: 22%;
}
  
  .container2 
  {
    width: 100%;
   
   }
   .deneme2-us 
   {
    width: 25%;
   
   }
   .section.left-section,
    .section.left-section.active {
    width: 100%;
    height: 52px;
    line-height: 105%;
}
.section.left-section h3,
    .section.left-section.active h3 {
    width: 100%;
    height: 52px;
    line-height: 105%;
    padding: 3px;
}
.content2.active {
  width: 100%;
}
.content2 .input-group {
  width: 100%;
}

.content2 .input-group input[type="text" ]{
  width: 100%;
  height: 52px;
}
.content2 .input-group textarea {
  width: 100%;
}
button.submit-button {
width: 30%;
}
.deneme3-us {
  width: 25%;
  height: 88%;
} 

.section.right-section,
.section.right-section.active {
  height: 100%;
  width: 100%;
  line-height: 150%;
}


}

@media (min-width:320px) and (max-width:1200px) {
  .fixedtopleft-cu {
    position: absolute;
    left: 39px;
    font-size: 35px;
    top: 31px;
}
.fixedtopright-cu {
    right: 30px;
    font-size: 35px;
    top: 31px;
    position: absolute;
}
.fixeddownleft-cu {
    position: absolute;
    bottom: 60px;
    left: 39px;
    font-size: 35px;
}
.fixeddownright-cu {
    position: absolute;
    bottom: 60px;
    right: 16px;
}
.leftscroll-cu {
    position: absolute;
    height: 65%;
    left: 41px;
    top: 21%;
}

.fixeddownright-cu .social-right-down-cu img {
  width: 37px;
  padding: 0px 0px 0px 11px;
}
.artmoc-global {
  width: 33%;
  left: 33%;
}
  .container2-position {
    position: absolute;
    left: 24%;
    width: 100%;
    height: auto;
    top: 33%;
}
.container2 {
  display: flex;
   justify-content: none; 
  flex-direction: column;
  text-align: center;
  line-height: 4px;
  gap: 30px;
}
  .deneme2-us {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
}
.section.left-section {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 6px;
}
.content2 {
  display: none;
  margin-top: -1px;
}
.content2 .input-group {
  line-height: 0px;
  padding: 13px 0px 20px 0px;
  border: none;
}
.content2 .input-group input {
  position: absolute;

  width: 59%;
  font-size: 16px;
  padding: 4px 0px 0px 0px; 
  border-radius: 24px;
  background-color: rgba(200, 200, 200, 0.3);
  left: 1%;
}
.content2 .input-group textarea {
  background-color: rgba(200, 200, 200, 0.3);
  border-radius: 24px;
  height: 63px;
  width: 103%;
  padding: 10px;
  color: white;
}
button.submit-button {
  background-color: rgba(200, 200, 200, 0.3);
  color: white;
  border: none;
  padding: 7px 20px;
  border-radius: 24px;
  position: absolute;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
  width: 105px;
  left: 14%;
  top: 80%;
}
.content2 .input-group textarea::placeholder {
  line-height: 37px;
}
.content2 .input-group input[type="text" ] {
  color: white;
  text-align: center;
  border: none;
  font-size: 13px;
  cursor: pointer;
  line-height: 4px;
}
.deneme3-us {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
}
.section.right-section {
  width: 61%;
  line-height: 6px;
}
.global-img {
    width: 180px;
    position: absolute;
    top: -74%;
   left: 25%;
}
.flex-social {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 30%;
  top: -7%;
}
.flex-icon {
  width: 18px;
  margin: 4px 5px;
  cursor: pointer;
}
.flex-icon1 {
  width: 18px;
  margin: 4px 5px;
  cursor: pointer;
}
.cont-footer p {
  position: absolute;
  font-size: 11px;
  left: 25.5%;
  color: white;
  top: 25%;
}
.up-arrow {
  position: absolute;
  top: 51%;
  right: -68%;
  cursor: pointer;
}
.up-arrow img {
  width: 8%;
}
}

@media (min-width:355px) and (max-width:1200px) {
  .content2 .input-group textarea {
    width: 117%;
}
.container2-position {
  left: 19%;
}
button.submit-button {
  width: 105px;
  left: 16%;
}
.up-arrow {
  right: -61%;
}
}
 @media (min-width:375px) and (max-width:1200px) {
  .artmoc-global {
    left: 39%;  
}
.content2 .input-group textarea {
  width: 120%;
}
button.submit-button {
  width: 105px;
  
 }
 .global-img {
  top: -75%;
  left: 26%;
}
.flex-social {
  left: 32%;
  top: -8%;
}
.cont-footer p {
  left: 29.5%;
  top: 25%;
}
}

@media (min-width:385px) and (max-width:1200px) {
  .content2 .input-group textarea {
    width: 127%;
}
button.submit-button {
  left: 17.5%;
}
.container2-position {
  top: 34.5%;
}
.content2 .input-group {

  padding: 19px 0px 20px 0px;

}
.content2 .input-group input {
  position: absolute;
  width: 59%;
  font-size: 16px;
  padding: 6px 0px 6px 0px;
  border-radius: 24px;
  background-color: rgba(200, 200, 200, 0.3);
  left: 1%;
}
.up-arrow {
  right: -13.6rem;
}
}
@media (min-width:500px) and (max-width:1200px) {
  .content2 .input-group textarea {
    width: 173%;
    height: 69px;

}
button.submit-button {
  left: 21.5%;
}
.global-img {
  top: -81%;
  left: 34%;
}
.flex-social {
  left: 38%;
}
.cont-footer p {
  left: 36.5%;
}
}
