* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.div-container-body-design {
  background: linear-gradient(to bottom, #6b6e7e, #40575d, #6b6e7e);

    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
  }


/* Art*/
.fixedtopleft-d {
  position: absolute;
  left: 70px;
  font-size: 35px;
  top: 31px ;
}
/*design*/
.fixedtopright-d {
  right: 70px;
  font-size:35px;
  top: 31px;
  position: absolute
}
/*info */
.fixeddownleft-d {
  position: absolute;
  bottom: 60px;
  left: 70px;
  font-size: 35px;
}
/*contact*/
.fixeddownright-d {
  position: absolute;
  bottom: 70px;
  right: 70px;

}
/*contact img*/
.fixeddownright-d .social-right-down-d img {
  width: 45px;
  padding: 0px 10px 0px 0px ;
}

.leftscroll-d{
    position: absolute;
    height: 100%;
    left: 70px;
    top: 135px;
}
.leftscroll-d img{
  position: absolute;
  height: 20%;
  transform: translate(0, 100%);
}

.design-img{
  position: absolute;
  left: 12.6%;
  top: 18%;
}
.design-headerİmg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  object-fit: cover;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 4em;
  width: 71em;
  top: 11em;
  height: 25em;
  left: 11em;
  position: absolute;
  cursor: pointer;
}

.box {
  padding-top: 100px; 
  border-radius: 24px;
  position: relative;
  overflow: hidden;
}
.box:hover{
  background-color: black;
}
.box:hover h3{
  color: darkblue;
}
.box video{
  width: 126% !important;
  position: absolute;
  top: 0px;
  left: 0px;
}
.box h3 {
  position: absolute;
  writing-mode: vertical-rl;
  left: -6px;
  height: 100%;
  border-radius: 24px;
  top: 0%;
  border-radius: 24px;
  font-size: calc(100% + 18px);
  color: white;
  transform: rotate(-180deg);
  pointer-events: none;
}
.artmoc-global-d1{
    position: absolute;
    top: 3%;
    left: 47%;
}
.artmoc-global-d {
  width: 56%;
  top: 1%;
}
@media screen and (min-width:1700px){
  .container {
    width: 78%;
    top: 28%;
    height: 33em;
    left: 15em;
}
  .box {
   width: 100%;
   height: 100%;
  }

  .box h3{
    font-size: calc(100% + 32px);
  }

}

@media (min-width:1400px) and (max-width:1699px){
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 4em;
    width: 71em;
    top: 13em;
    height: 25em;
    left: 16em;
    position: absolute;
    cursor: pointer;
}
.design-img {
  position: absolute;
  left: 15.6%;
  top: 15%;
}
.design-img img{
  width: 15rem;
}
.box h3 {
  left: 1px;
  top: 0%;
}
}

@media (min-width:320px) and (max-width:1000px) {
  
  .fixedtopleft-d{
    position: absolute;
    left: 39px;
    font-size: 35px;
    top: 31px;
}
.fixedtopright-d {
    right: 30px;
    font-size: 35px;
    top: 31px;
    position: absolute;
}
.fixeddownleft-d {
    position: absolute;
    bottom: 60px;
    left: 39px;
    font-size: 35px;
}
.fixeddownright-d {
    position: absolute;
    bottom: 60px;
    right: 16px;
}
.leftscroll-d {
    position: absolute;
    height: 65%;
    left: 41px;
    top: 190px;
}
.artmoc-global-d1{
  width: 47%;
  position: absolute;
  left: 38%;
  top: 0%;
}

.design-img {
  position: absolute;
  left: 40.6%;
  top: 11%;
}
.design-img img{
  width: 37%;
}
  
  .container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
    width: 65%;
    left: 20%;
    top: 17%;
    position: absolute;
    cursor: pointer;
}
.fixeddownright-d .social-right-down-d img {
  width: 29px;
  padding: 0px 10px 0px 0px;
}
.box h3 {
  position: absolute;
  writing-mode: vertical-rl;
  left: 4px;
  height: 100%;
  border-radius: 24px;
  top: -2%;
  border-radius: 24px;
  font-size: calc(100% + 4px);
  color: white;
  transform: rotate(-180deg);
  pointer-events: none;
}
.box video {
  width: 184% !important;

}
}
@media (min-width:355px) and (max-width:1000px) {

  .artmoc-global-d1 {
    width: 51%;
    top: 4%;
}
.box video {
  width: 163% !important;
  top: 0px;
}

.design-img {
  left: 37.6%;
  top: 13%;
}
.design-img img {
  width: 48%;
}
.container {

  top: 23%;
  
}
}
@media (min-width:365px) and (max-width:1000px) {

.box video {
  width: 156% !important;
  top: 0px;
}
}
@media (min-width:380px) and (max-width:1000px) {
  .box video {
    width: 149% !important;
    top: 0px;
}
}
@media (min-width:400px) and (max-width:1000px) {
  .box video {
    width: 141% !important;
    top: 0px;
}
}

@media (min-width:500px) and (max-width:1000px) {
  .design-img {
    left: 40.6%;
    top: 16%;
}
.box video {
  width: 106% !important;
  top: 0px;
}
}

@media (min-width:700px) and (max-width:1000px) {
  .leftscroll-d {
    position: absolute;
    height: 86%;
    left: 51px;
    top: 232px;
}
  .design-img {
    left: 40.6%;
    top: 16%;
}
.design-img img {
  width: 71%;
}

  .box {
    background-color: rgba(200, 200, 200, 0.3);
    padding-top: 143px;
    border-radius: 24px;
    position: relative;
    overflow: hidden;
}
.box h3 {
  font-size: calc(100% + 13px);
}
.fixeddownright-d .social-right-down-d img {
  width: 45px;
  padding: 0px 10px 0px 0px;
}
}
@media (min-width:800px) and (max-width:1000px) {
  .box video {
    width: 101% !important;
    top: 0px;
}
}

@media (min-width:1000px) and (max-width:1200px) {
  .artmoc-global-d1 {
    position: absolute;
    top: 3%;
    left: 42%;
}
 
  .design-img {
    position: absolute;
    left: 7.6%;
    top: 24%;
}
.design-img img {
  width: 141px;
}
.container {
  gap: 2em;
  width: 56em;
  top: 12em;
  height: 20em;
  left: 5em;
}
.box h3 {
  font-size: calc(100% + 13px);
  left: 1px;
}
}

@media (min-width:1200px) and (max-width:1400px) {
  .artmoc-global-d1 {
    position: absolute;
    top: 3%;
    left: 44%;
}
.design-img {
  position: absolute;
  left: 6.6%;
  top: 18%;
}
.container {
  gap: 4em;
  width: 71em;
  top: 13em;
  height: 25em;
  left: 5em;
}
.box h3 {

  left: -6px;
  height: 100%;
  top: 0%;
  font-size: calc(100% + 18px);
}
.design-img img {
  width: 178px;
}
}