.container-Deline{
    padding: 49px 0px;
    display: flex;
    width: 100vw;
    justify-content: start;
    background: linear-gradient(to bottom, #6b6e7e, #40575d, #6b6e7e);
}

.left-Deline {
    background: gray;
    padding: 61px 40px 62px 0px;
    border-radius: 0px 74px 74px 0px;
    z-index: 11;
}
.indented-paragraph-left {
    display: flex;
    color: white;
    width: 901px;
    margin: -30px 41px -22px 40px;
    font-size: 18px;
    text-align: left;
    line-height: 1.8rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
}
.left-line-none{
    display: flex;
    background: gray;
    padding: 59px 71px;
    border-radius: 0px 74px 74px 0px;
}

@media (min-width: 1400px) and (max-width: 1699px){}
.indented-paragraph-left{
    display: flex;
    color: white;
    width: 939px;
    margin: -32px 41px -36px 40px;
    font-size: 17px;
    line-height: 27px;
    text-align: left;
}
@media (min-width:320px) and (max-width:568px) {
    .left-Deline {
        display: flex;
        justify-content: end;
        background: gray;
        padding: 49px 0px;
        border-radius: 0px 0px 0px 0px;
    }
    .indented-paragraph-left {
        display: flex;
        color: white;
        width: 88%;
        margin: -40px 25px -31px 1px;
        font-size: 10px;
        line-height: 20px;
        text-align: start;
    }
}
@media (min-width:700px) and (max-width:1200px) {
    .indented-paragraph-left {
        width: 738px;
        margin: -32px 0px -36px 17px;
        font-size: 16px;
}
}