

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Raleway:ital,wght@1,700&family=Roboto&display=swap');

.div-container-body-news {
  background: linear-gradient(to bottom, #776b6a, #3f5150, #3f5150);
  position: relative;
  width: 100vw;
  height: 100vh;
    
}

/* Art*/
.fixedtopleft-news {
  position: absolute;
    left: 70px;
    font-size: 35px;
    top: 31px ;
}
/*design*/
.fixedtopright-news {
  right: 70px;
  font-size:35px;
  top: 31px;
  position: absolute
}
/*info */
.fixeddownleft-news {
  position: absolute;
  bottom: 60px;
  left: 70px;
  font-size: 35px;
}
/*contact*/
.fixeddownright-news {
  position: absolute;
    bottom: 70px;
    right: 70px;
}
/*contact img*/
.fixeddownright-news .social-right-down-news img {
  width: 45px;
  padding: 0px 10px 0px 0px ;
}


.news-frame-img {
  position: absolute;
  width: 60%;
  margin-left: 20%;
}
.news-frame-arrow {
  position: absolute;
  width: 6vh;
  margin-left: 75%;
  margin-top: 3vh;
  top: 0;
  left: 0;
  z-index: 1;
}
.news-frame-newstittle{
  position: absolute;
  left: 11%;
  top: 18%;
}

.news-frame-newstittle img{
  width: 200px;
}
.news-user{
  position: absolute;
  left: 11%;
  top: 17.2%;
  z-index: 1;
}

.news-user p{
  font-size: 75px;
  color: transparent;
}

.container-news {
position: absolute;
left: 11%;
width: 82%;
top: 33%;
height: 38%;
}

.container-news table {

width: 100%;
height: 100%;
 background: #979696;
 border-radius: 50px;
 
}

.container-news table img {
 width: 50px !important;
 right: 3%;
 top: 9%;
position: absolute;
cursor: pointer;
}
.container-news p{
  position: absolute;
  right: 3%;
  bottom: 7%;
  color: white;
  font-size: 24px;
  width: 55%;
  font-family: 'Raleway', sans-serif; /* Raleway yazı karakterini kullan */
  font-weight: 700; 
  font-style: italic; 
  text-transform: uppercase; 
  text-align: end;
  line-height: 32px;

}
.leftscroll-news{
  position: absolute;
  height: 100%;
  left: 70px;
  top: 213px;
}
.leftscroll-news img{
  position: absolute;
  height: 20%;
  transform: translate(0, 100%);
}



@media (min-width:1400px) and (max-width:1699px) {
  .leftscroll-news {
    position: absolute;
    height: 100%;
    left: 70px;
    top: 23%;
}
  .news-frame-newstittle {
    position: absolute;
    left: 11%;
    top: 22%;
}
.news-frame-newstittle img {
  width: 11%;
}
.news-user {
  position: absolute;
  left: 11%;
  top: 21.2%;
  z-index: 1;
}
.news-user p {
  font-size: 57px;
  color: transparent;
}
  .container-news {
    position: absolute;
    left: 11%;
    width: 78%;
    top: 36%;
    height: 35%;
  }
  .container-news table img {
    width: 35px !important;
    right: 3%;
    top: 9%;
    position: absolute;
    cursor: pointer;
}

.container-news p {
  position: absolute;
  right: 3%;
  bottom: 7%;
  color: white;
  font-size: 16px;
  width: 55%;
  font-family: 'Raleway', sans-serif;
  text-align: end;
  line-height: 25px;
}

}

@media (min-width : 320px) and (max-width : 385px) {
  .fixedtopleft-news {
      position: absolute;
      left: 39px;
      font-size: 35px;
      top: 31px;
  }
  .fixedtopright-news {
      right: 30px;
      font-size: 35px;
      top: 31px;
      position: absolute;
  }
  .fixeddownleft-news {
      position: absolute;
      bottom: 60px;
      left: 39px;
      font-size: 35px;
  }
  .fixeddownright-news {
      position: absolute;
      bottom: 60px;
      right: 16px;
  }
  .leftscroll-news {
      position: absolute;
      height: 65%;
      left: 41px;
      top: 35%;
  }
  .artmoc-global {
      width: 27%;
      position: absolute;
      left: 36%;
      top: 7%;
  }
  a {
      text-decoration: none;
      font-family: Rubik;
      color: #e2e1de;
      line-height: 12px;
      font-size: 15px;
  }
  .fixeddownright-news .social-right-down-news img {
      width: 29px;
      padding: 0px 10px 0px 0px;
  }
  .news-frame-newstittle {
    position: absolute;
    left: 34%;
    top: 24%;
}
.news-frame-newstittle img {
  width: 120px;
}
.container-news {
  position: absolute;
  left: 18%;
  width: 82%;
  top: 35%;
  height: 64%;
}
.container-news table {
  width: 82%;
  height: 71%;
  background: #979696;
  border-radius: 50px;
}
.container-news table img {
  width: 27px !important;
  right: 55%;
  top: 42%;
  position: absolute;
  cursor: pointer;
}
.container-news p {
  position: absolute;
  right: 21%;
  color: white;
  font-size: 9px;
  width: 80%;
  height: 26%;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  text-align: end;
  line-height: 14px;
  top: 60px;
}



}
@media (min-width : 387px) and (max-width : 550px) {
  .fixedtopleft-news {
      position: absolute;
      left: 39px;
      font-size: 35px;
      top: 31px;
  }
  .fixedtopright-news {
      right: 30px;
      font-size: 35px;
      top: 31px;
      position: absolute;
  }
  .fixeddownleft-news {
      position: absolute;
      bottom: 60px;
      left: 39px;
      font-size: 35px;
  }
  .fixeddownright-news {
      position: absolute;
      bottom: 60px;
      right: 16px;
  }
  .leftscroll-news {
      position: absolute;
      height: 65%;
      left: 41px;
      top: 35%;
  }
  .artmoc-global {
      width: 27%;
      position: absolute;
      left: 36%;
      top: 7%;
  }
  a {
      text-decoration: none;
      font-family: Rubik;
      color: #e2e1de;
      line-height: 12px;
      font-size: 15px;
  }
  .fixeddownright-news .social-right-down-news img {
      width: 29px;
      padding: 0px 10px 0px 0px;
  }
  .news-frame-newstittle {
    position: absolute;
    left: 34%;
    top: 24%;
}
.news-frame-newstittle img {
  width: 120px;
}
.container-news {
  position: absolute;
  left: 18%;
  width: 82%;
  top: 35%;
  height: 64%;
}
.container-news table {
  width: 82%;
  height: 71%;
  background: #979696;
  border-radius: 50px;
}
.container-news table img {
  width: 27px !important;
  right: 55%;
  top: 42%;
  position: absolute;
  cursor: pointer;
}
.container-news p {
  position: absolute;
  right: 18%;
  color: white;
  font-size: 11px;
  width: 75%;
  height: 26%;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  text-align: start;
  line-height: 24px;
  top: 60px;
}



}

@media (min-width:700px) and (max-width:1200px) {
  .fixeddownright-news {
    bottom: 100px;
    right: 44px;
}
a {
    font-size: 27px;
}
.fixedtopleft-news {
    position: absolute;
    left: 39px;
    font-size: 35px;
    top: 31px;
}
.fixedtopright-news {
    right: 30px;
    font-size: 35px;
    top: 31px;
    position: absolute;
}
.fixeddownleft-news {
    position: absolute;
    bottom: 60px;
    left: 39px;
    font-size: 35px;
}
.fixeddownright-news {
    position: absolute;
    bottom: 60px;
    right: 16px;
}
.leftscroll-news {
  position: absolute;
  height: 99%;
  left: 51px;
  top: 219px;
}  

.artmoc-global {
  top: 2%;
  left: 36%;
}
.news-frame-newstittle {
  position: absolute;
  left: 35%;
  top: 21%;
}
.news-frame-newstittle img {
  width: 269px;
}
.container-news p {
  right: 0%;
  bottom: 63%;
  font-size: 21px;
  width: 86%;
  text-align: start;
}
.container-news table img {
  right: 10%;
  top: 75%;
 
}


}

@media (min-width:1000px) and (max-width:1200px) {
  .artmoc-global {
    top: 2%;
    width: 12rem;
    left: 42%;
}
.news-frame-newstittle {
  position: absolute;
  left: 11%;
  top: 24%;
}
.news-frame-newstittle img {
  width: 199px;
}

  .container-news {
    position: absolute;
    left: 11%;
    width: 82%;
    top: 39%;
    height: 38%;
}
.container-news table img {
  right: 9%;
  width: 30px !important;
  top: 13%;
}
.container-news p {
  right: 2%;
  bottom: 18%;
  line-height: 17px;
  font-size: 13px;
  width: 86%;
  
}
}

@media (min-width:1200px) and (max-width:1399px) {
  .container-news p {
    font-size: 16px;
}
}