@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

.div-container-body-team{
    background: linear-gradient(to bottom, #3f5150, #638669, #638669);
    position: relative;
    width: 100vw;
    height: 100vh;
}

.fixedtopleft-team{
    position: absolute;
    left: 70px;
    font-size: 35px;
    top: 31px ;
   
}
.fixedtopright-team{
    right: 70px;
  font-size:35px;
  top: 31px;
  position: absolute
 
}
.fixeddownleft-team{
    position: absolute;
    bottom: 60px;
    left: 70px;
    font-size: 35px;
  }

.fixeddownright-team{
    position: absolute;
    bottom: 70px;
    right: 70px;
}
.fixeddownright-team .social-right-down-team img{
    width: 45px;
  padding: 0px 10px 0px 0px ;
}
.sliderbar-teams{
    position: absolute;
    left: 54%;
    top: 80%;
 

}
.Tabpanel-design {
  position: absolute;
  left: 26%;
  top: 14%;
  width: 71%;
}
.teams-img{
  display: flex;
  align-items: center;
}
.oturt {
  width: 74%;
  height: 72%;
  border: 5px solid white;
  border-radius: 50%;
}
.oturt img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.teams-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 73%;
  line-height: 151%;
}
.teams-info h2{
  color: white;
  margin: 0px 0px 20px 0px;
  font-size: 35px;
  text-align: center;
  text-transform: capitalize;
  font-family: 'Raleway';
}

.teams-info p{
  color: white;
  text-align: center;
  line-height: 29px;
  font-size: 24px;
}
  .MuiTabs-indicator.css-1aquho2-MuiTabs-indicator{
    display: none;

  }

.MuiTabs-root.css-1ujnqem-MuiTabs-root button{
    min-width: 1px !important;
    min-height: 1px !important;
    padding: 5px 9px !important;
}

.team-header{
  position: absolute;
    top: 20%;
    color: white;
    left: 13%;
    font-size: 4rem;
    font-family: 'Raleway';
}
.team-turn{
  position: absolute;
  left: 14%;
  
  bottom: 21%;
}
.team-turn img{
  width: 3rem !important;
  cursor: pointer;
}
.teams-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width:1400px) and (max-width:1600px) {
    .teams-info h2 {
      font-size: 30px;
  }

  .teams-info p {
    font-size: 16px;
}


  }
  @media (min-width : 320px)  and (max-width:1000px){
    .fixedtopleft-team {
        position: absolute;
        left: 39px;
        font-size: 35px;
        top: 31px;
    }
    .fixedtopright-team {
        right: 30px;
        font-size: 35px;
        top: 31px;
        position: absolute;
    }
    .fixeddownleft-team {
        position: absolute;
        bottom: 60px;
        left: 39px;
        font-size: 35px;
    }
    .fixeddownright-team {
        position: absolute;
        bottom: 60px;
        right: 16px;
    }
    .leftscroll-team {
        position: absolute;
        height: 65%;
        left: 41px;
        top: 190px;
    }
    a {
        text-decoration: none;
        font-family: Rubik;
        color: #e2e1de;
        line-height: 12px;
        font-size: 15px;
    }
    .fixeddownright-team .social-right-down-team img {
        width: 29px;
        padding: 0px 10px 0px 0px;
    }
    
.team-turn {
  position: absolute;
  left: 44%;
  bottom: 18%;
}
.team-header {
  position: absolute;
  top: 15%;
  color: white;
  left: 35%;
  font-size: 2rem;
  font-family: 'Raleway';
}
.team-turn img {
  width: 2rem !important;
  cursor: pointer;
}
   
    .teams-container {
      display: grid;
      grid-template-columns: none;
  }
  .Tabpanel-design {
    position: absolute;
    left: 10%;
    top: 14%;
    width: 71%;
}

.oturt {
    width: 100%;
    height: 76%;
    border: 5px solid white;
    border-radius: 50%;
}

.oturt img {
  width: 188px;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.teams-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 73%;
  line-height: 151%;
}
.teams-info h2 {
  color: white;
  margin: -25px 0px 7px 0px;
  font-size: 20px;
  text-align: end;
  text-transform: capitalize;
  font-family: 'Raleway';
}
.teams-info p {
  color: white;
  text-align: start;
  width: 179%;
  line-height: 13px;
  font-size: 11px;
}
.sliderbar-teams {
  position: absolute;
  left: 19%;
  padding: 10px;
  top: 68%;
}

}

 @media (min-width:355px)  and (max-width:1000px) {
  .oturt img {
    width: 100%;
}
.Tabpanel-design {
  left: 15%;
}
.team-header {
  left: 40%;
}
.sliderbar-teams {
  left: 26%;
  top: 65%;
}
.team-turn {
  left: 48%;
  bottom: 20%;
}
 }


 @media (min-width:370px)  and (max-width:1000px) {
  .sliderbar-teams {
    top: 70%;
}
.teams-info p {
  width: 160%;
}
.team-turn {
  bottom: 16%;
}
 }

 @media (min-width:385px)  and (max-width:1000px) { 
  .Tabpanel-design {
    left: 15%;
    top: 20%;
}
.teams-info p {
  line-height: 19px;
  font-size: 13px;
}
.sliderbar-teams {
  top: 68%;
}
.team-turn {
  bottom: 19%;
  left: 46%;
}
  
 }

 @media (min-width:410px)  and (max-width:1000px) {
  .Tabpanel-design {
    left: 15%;
    top: 13%;
}
.team-header {
  top: 9%;
  left: 37%;
  font-size: 44px;
}
 }

 @media (min-width:500px) and (max-width:1000px) {
  .Tabpanel-design {
    left: 21%;
    top: 9%;
}
.oturt {
    width: 77%;
    height: 76%;
    border: 5px solid white;
    border-radius: 50%;
}
.team-header {
  top: 9%;
  left: 40%;
  font-size: 44px;
  z-index: 1;
}
.teams-info {
  width: 54%;
}
.sliderbar-teams {
  top: 71%;
  left: 32%;
}
.team-turn{
  z-index: 1;
  bottom: 17%;
  left: 47%;
}
 }
 @media (min-width:700px) and (max-width:1000px) {
  .team-header {
    top: 9%;
    left: 40%;
    font-size: 60px;
    z-index: 1;
}
.team-turn {
  z-index: 1;
  bottom: 12%;
  left: 47%;
}
.team-turn img {
  width: 4rem !important;
}
.Tabpanel-design {
  left: 23%;
  top: 9%;
}
.oturt {
  width: 73%;
  height: 76%;
  border: 5px solid white;
  border-radius: 50%;
}
.sliderbar-teams {
  top: 73%;
  left: 39%;
}
.teams-info h2 {
  margin: -35px -11px 19px 0px;
  font-size: 40px;
}
.teams-info p {
  line-height: 27px;
  font-size: 20px;
  width: 160%;
}
.fixeddownright-team .social-right-down-team img {
  width: 45px;
  padding: 0px 10px 0px 0px;
}
 }
 @media (min-width:1000px) and (max-width:1200px) {
  .Tabpanel-design {
    left: 18%;
    top: 14%;
    width: 71%;
}
.team-header {
  color: white;
  left: 9%;
  font-size: 3rem;
 }
 .team-turn {
  position: absolute;
  left: 10%;
  bottom: 21%;
}
.team-turn img {
  width: 2rem !important;
  cursor: pointer;
}
.oturt {
  width: 83%;
  height: 72%;
  border: 5px solid white;
  border-radius: 50%;
}
.teams-info {
  width: 115%;
}
.teams-info h2 {
  font-size: 29px;
}
.teams-info p {
  color: white;
  text-align: center;
  font-size: 17px;
  line-height: 24px;
}
.sliderbar-teams {
  left: 46%;
  top: 80%;
}
}
@media (min-width:1921px) {
 
}