.div-container-body-without {
  background: linear-gradient(to bottom, #6b6e7e, #40575d, #5c7a89);
  max-width: 1920px ;
  max-height: 1080px;
  position: relative;
  width: 100%;
  height: 100vh;
}
/* Art*/
.fixedtopleft-ww {
  position: absolute;
  left: 70px;
  font-size: 35px;
  top: 31px ;
 
}
/*design*/
.fixedtopright-ww {
  right: 70px;
  font-size:35px;
  top: 31px;
  position: absolute
}
/*info */
.fixeddownleft-ww {
  position: absolute;
  bottom: 60px;
  left: 70px;
  font-size: 35px;
}
/*contact*/
.fixeddownright-ww {
  position: absolute;
  bottom: 70px;
  right: 70px;
}
/*contact img*/
.fixeddownright-ww .social-right-down-ww img {
  width: 45px;
  padding: 0px 10px 0px 0px ;
}
.leftscroll-ww{
  position: absolute;
  height: 100%;
  left: 70px;
  top: 135px;
}

.leftscroll-ww img{
  position: absolute;
  height: 20%;
  transform: translate(0, 100%);
}

.container{
  display: flex;
  flex-direction: row;
  position: absolute;
  gap: 12em;
  height: auto !important;
  top: 13em;
  width: 71em;
  
}

.with-header, .without-header {
  box-sizing: border-box;
}


header {

  padding: 0px 0px 86px;
  font-size: 35px;
  color: white;
}

.content {
  margin-top: -30px;
}

p {
  margin: 10px 0;
  padding: 0px 0px 30px;
  cursor: text;
  color: white;
  position: relative;
  z-index: 1;
  
}

.without-header header,
.without-header p{
  text-align: end;
}
p:before {
  content: '';
  position: absolute;
  top: -13px;
  left: -18px;
  right: -10px;
  bottom: -10px;
  border: 3px solid rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.8);
  pointer-events: none;
  width: 30px;
  height: 30px;
  z-index: 0;
}

.without-header p:before{
  text-align: end;
  content: '';
  position: absolute;
  top: -13px;
  left: 458px;
  right: -10px;
  bottom: -10px;
  border: 3px solid rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.8);
  pointer-events: none;
  width: 30px;
  height: 30px;
}