*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}

.App{
    max-height: 8770px;
    max-width: 1920px;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;    
}
.FooterLine {

    padding: 5px;
    background-color: #f0f0f0;
    text-align: center;
    background-color: blue;
  }
  .cont-footer{
    height: 138px;
    background-color: #61818e;
    position: relative;
    width: 100vw;
  }
  .cont-footer p{
    position: absolute;
    left: 40.5%;
    color: white;
  }
  .global-img {
    width: 350px;
    position: absolute;
    top: -184%;
    left: 38%;
}

  .flex-social {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 40%;
    top: -3rem;

}
.flex-social a {
  font-size: inherit;
}

.flex-icon {
  width: 2em;
  margin: 0px 10px;
  cursor: pointer;
}
.flex-icon1 {
  width: 29px;
  opacity: 0.4;
  margin: 3px 10px;
  cursor: pointer;
}

.up-arrow {
  position: absolute;
  right: 4.3rem;
  top: -3rem;
  cursor: pointer;
}
.up-arrow img{
  width: 2rem;
}
@media (min-width:700px) and (max-width:1000px) {
  .global-img {
    top: -136%;
    left: 23%;
    width: 443px;
}
.flex-social {
  left: 44%;
  top: 2%;
}
.flex-icon {
  width: 51px;
}
.flex-icon1 {
  width: 65px;
}
.cont-footer p {
  left: 28.5%;
  top: 53%;
  font-size: 24px;
}
.up-arrow {
  right: -10.6rem;
  top: 26%;
}
.up-arrow img {
  width: 16%;
}
}

@media (min-width: 1921px) {
    .App {
      
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
    }
    body{
      width: 1920px;
    }
  }

  @media (min-width: 1400px) and (max-width: 1600px) {
   
    
  }